body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.loading-screen {
    text-align: center;
}

.loader {
    border: 16px solid #f3f3f3; /* შიდა ფერი */
    border-top: 16px solid #3498db; /* ზედა ფერი */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite; /* ანიმაცია */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

p {
    margin-top: 20px;
    font-size: 20px;
    color: #333;
}
